@import 'font.css';

:root {
    --main: #007438;
    --backFilter: rgba(0, 116, 56, 0.55);
    --prodName: rgba(255, 255, 255, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway";
    scroll-behavior: smooth;
}

body {
    background-size: cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* header start */

.header__nav {
    background: var(--main);
    max-height: 148px;
    display: flex;
}

.header__nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    max-width: 242px;
    max-height: 183px;
    overflow: hidden;
    border: 1px solid #007438;
}

.logoSmall {
    display: none;
}

.header__list {
    display: flex;
    align-items: center;
    column-gap: 80px;
}

.header__menu {
    display: none;
}

.exit {
    display: none;
}

.header__list2 {
    display: flex;
    align-items: center;
    column-gap: 27px;
}

.header__span {
    display: none;
}

.header__link {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}

.translate {
    font-size: 20px;
    color: #fff;
    background: none;
    line-height: 28px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    padding: 2px 4px;
}

.translate.active {
    border: 1px solid #FFFFFF;
}

.header__content {
    height: 84.8vh;
    width: 100%;
    background: url(../img/headerBack.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.header__content .container {
    background: var(--backFilter);
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 120px 0 150px
}

.header__info-title {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    max-width: 480px;
    margin-bottom: 20px;
}

.header__info-txt {
    color: #fff;
    font-size: 30px;
    max-width: 900px;
    width: 100%;
}

/* header end */


#shop {
    padding: 103px 0;
    /* min-height: 100vh; */
}

.shop__title {
    position: relative;
    font-size: 48px;
    padding: 20px 0;
    border: 3px solid #B0CB1F;
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 786px;
    width: 100%;
    text-align: center;
}

.shop__title::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 40%;
    background: #B0CB1F;
    left: -43%;
    top: 50%;
}

.shop__title::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 40%;
    background: #B0CB1F;
    right: -43%;
    top: 50%;
}


.shop__cards {
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    gap: 20px;
    row-gap: 50px;
    place-content: center;
    margin-bottom: 80px;
}


.shop__card {
    max-width: 345px;
    max-height: 233px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: .4s;
    box-shadow: 0px 4px 30px rgba(153, 153, 153, 0.5);
    position: relative;
}

.shop__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.shop__card-span {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    font-size: 22px;
    z-index: 1;
    background: rgba(233, 217, 217, 0.7);
    width: 100%;
    height: 50px;
    transition: .4s;
    display: none;
}

.shop__card:hover {
    box-shadow: 0px 4px 30px rgba(153, 153, 153, 0.8);
}

.shop__card:hover .shop__card-span {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(47, 138, 36, 0.623);
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 3px 5px #000;
}

.shop__content-img {
    max-width: 600px;
    max-height: 450px;
    box-shadow: 3px 10px 20px rgb(61, 66, 64);
}

.shop__content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* about start */

#about {
    /* height: 100vh; */
    margin-bottom: 150px;
    position: relative;
}

.about__desc {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
    position: relative;
}

.about__desc2 {
    display: flex;
    align-items: center;
    column-gap: 140px;
}

.about__desc-title {
    position: relative;
    font-size: 48px;
    line-height: 56, 35px;
    padding-left: 100px;
    margin-bottom: 30px;
}

.about__desc-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #B0CB1F;
    width: 62px;
    height: 62px;
}

.about__desc-title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 5%;
    background: #B0CB1F;
    height: 3px;
    width: 50%;

}

.about__desc-txt {
    font-size: 20px;
    font-weight: normal;
    max-width: 580px;
    width: 100%;
    text-align: justify;
}

.about__img {
    position: relative;
    max-width: 740px;
    max-height: 520px;
    margin: 30px -30px 0 0;
}

.about__img1::after {
    content: "";
    position: absolute;
    right: -30px;
    top: -30px;
    background: var(--main);
    max-width: 740px;
    max-height: 520px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.about__img2 {
    margin: 30px 0 0 30px;
}

.about__img2::after {
    content: "";
    position: absolute;
    left: -30px;
    top: -30px;
    background: var(--main);
    max-width: 740px;
    max-height: 540px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.about__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.about__desc-logo {
    display: flex;
    align-items: center;
}

.about__desc-year {
    font-size: 200px;
    color: var(--main);
    border: 3px solid var(--main);
    padding: 15px 0;
    font-family: "Lora";
}

.about__desc-span {
    font-size: 66px;
    color: #313131;
    max-width: 100px;
    margin-left: 12px;
    font-family: "Lora";
}


/* about end */

/* work start */

#work {
    margin-bottom: 105px;
}

.work__title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 36px;
    height: 170px;
    line-height: 42px;
    letter-spacing: 1.2px;
    background: url(../img/lineBack.png);
    margin-bottom: 70px;
}

.work__boxes {
    display: grid;
    grid-template-columns: 470px 470px 470px;
    grid-template-rows: 340px 340px;
    place-items: center;
    margin-bottom: 10px;
    gap: 30px;
    padding-top: 50px;
}

.work__box {
    max-width: 470px;
    max-height: 340px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.work__box:hover .work__box-span {
    z-index: 1;
    background: rgba(47, 138, 36, 0.623);
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 3px 5px #000;
}

.work__box-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.work__box-span {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .4s;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* work end */
/* contact start */

#contact {
    position: relative;
    margin-bottom: 90px;
}

#contact::before,
#contact::after {
    content: "";
    position: absolute;
    top: 11px;
    right: 42%;
    background: #B0CB1F;
    width: 32%;
    height: 3px;
}

#contact::before {
    top: 33px;
    width: 46%;
}

.contact__title {
    position: relative;
    font-size: 36px;
    line-height: 42px;
    color: #313131;
    text-align: right;
    padding-right: 120px;
    margin-bottom: 120px;
}

.contact__title::after {
    position: absolute;
    content: "";
    background-color: #B0CB1F;
    width: 62px;
    height: 62px;
    top: -9px;
    right: 0;
}

.contact__content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 150px;
}

.contact__phones {
    margin-bottom: 80px;
}

.contact__phones,
.contact__message {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.contact__phones-numbers {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

.contact__phones-number,
.contact__message-mail {
    color: #313131;
    font-size: 20px;
    transition: .4s;
}

.contact__phones-number:hover,
.contact__message-mail:hover {
    color: var(--main);
}

.contact__form {
    max-width: 370px;
    width: 100%;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    box-shadow: 1px 1px 3px 4px rgba(153, 153, 153, 0.836);
    padding: 30px 0;
}

.contact__form input {
    max-width: 280px;
    width: 100%;
    min-height: 50px;
    border: 1px solid #31313185;
    padding-left: 30px;
    color: #a4a4a4;
    font-size: 18px;
}

.contact__form button {
    /* max-width: 280px; */
    width: 100%;
    min-height: 50px;
    font-size: 18px;
    border: none;
    background: var(--main);
    color: #fff;
    cursor: pointer;
    letter-spacing: 1.2px;
    font-weight: bold;
}

/* contact end */

/* footer start */

.footer__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 70px;
    min-height: 100px;
    background: var(--main);
}

.footer__socials a {
    color: var(--main);
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}